body {
	font-family: 'Nerko One', cursive;
	font-color: #000000;
}

.navbar.navbar-default{
width:100%;
background-color: #808080;
border-color: #000000;
height: 60px;
margin:0px;
}

.navbar-brand h1{
	padding: 0px;
	margin:0px;
	font-size: 1.3em;
}

.container a {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	margin-top: auto;
}

#collapsable-nav {
	padding: 0px;
	margin: 0px;
	background-color: #808080;
}

#collapsable-nav a, .navbar.navbar-default a, a:hover {
	color: #000000;
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
  background-color: transparent;
  border-color: black;
  border-width: 2px;
  }

.navbar-header button.navbar-toggle:focus, .navbar-header button.navbar-toggle:focus .icon-bar {
  border: 1px solid #61122f;
  border-color: white;
  background-color: transparent;
  border-width: 2px;
  }


ul, hr {
	background-color: #808080;
	border-color: #000000;
	padding-left: 0px;
	margin: 0px;
}

@media (min-width: 992px)  {
	.container section {
	background-color: #808080;
	margin-right: 20px;
	margin-bottom: 20px;
	}

	#chicken{
	margin-left: -20px;
	}

	#sushi {
	margin-right: -20px;
	}
	}

	@media (min-width: 768px) and (max-width: 991px) {

	.container section {
	background-color: #808080;
	margin-right: 20px;
	margin-bottom: 20px;
	}

	#beef {
	margin-left: 20px;
	margin-right: -20px;
	}

	#chicken {
	margin-left: -20px;
	}

	#sushi {
	width:105.5%;
	margin-left: -20px;
	}
	}

	@media (max-width: 767px) {

	.container {
		margin-right: 40px;
		margin-left: 40px;
	}

	.container section {
	background-color: #808080;
	margin-right: auto;
		margin-bottom: 20px;
	}
	}


